body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4rem;
    background-color: #FFFFD6;
}
h1, h2 {
    color: #48271E;
    text-shadow: 1px 1px 2px #271214;
    display: flex;
    justify-content: center;
}
#content{
    display:flex;
    flex-direction:column;    
}
    #content p {
        font-style: oblique;
        font-size: 2px 2vw;
        max-width: 40rem;
        margin: auto;
        padding-bottom:1rem;
        text-align: center;
    }
    #content img {
        border-radius: 20px;
        width: 30%;
        min-width: 10rem;        
        margin: auto;
    }
#next, #back {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #FFFFD6;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #271214;
    border: none;
    color: #f9f2ec;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }