
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/IndexSheet.css" rel="stylesheet" />
    <link href="~/css/nav.css" rel="stylesheet" />
</head>
<body>
    <section class="skills">
       
            <div id="slider">
                <div id="slider-frame">

                    <div id="slider-images">
                        <div data-src="images/blackCorgi.jpg"></div>
                        <div data-src="images/codingCorgi.jpg"></div>
                        <div data-src="images/corgiLoaf.jpg"></div>
                        <div data-src="images/cowboyCorgi.jpg"></div>
                        <div data-src="images/CorgiMail.png"></div>
                        <div data-src="images/guitarCorgi.jpg"></div>
                        <div data-src="images/puppyCorgi.jpg"></div>
                        <div data-src="images/superCorgi.png"></div>
                        <div data-src="images/turtleCorgi.jpg"></div>
                        <div data-src="images/whiteCorgi.png"></div>                                               
                    </div>
                </div>
            </div>
   
    </section>
    <div id="content">
        <h1>Corgi Types</h1>
        <h2><a href="/Review/AllReviews">All Reviews</a></h2>
        <h2><a href="/Category/Index">All Categories</a></h2>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/review/allreviews/">All Reviews</a>
        <a href="/category/index/">All Categories</a>
    </nav>
    <script src="~/JavaScript/Script.js"></script>
</body>
</html>
